### variables

In [1]:
## creating variables
# A variable is created the moment first assign a value to it.
x = 5 
y = 'john'
print(x)
print(y)

5
john

In [ ]:
# Variables do not need to be declared with any particular type, and can even change type after they have been set.
x = 4
x = 'sally'
print(x)

sally

In [ ]:
## casting : If you want to specify the data type of a variable, this can be done with casting.
x = str(3)
y = int(3)
z = float(3)

In [ ]:
## get the type

x = 5
y = 'john'

print(type(x))
print(type(y))

<class 'int'>
<class 'str'>

In [ ]:
## Single or Double Quotes?

x = "John"
# is the same as
x = 'John'

In [ ]:
## case-sensitivity
# variable names are case-sensitive

a = 4
A = "sally"
# A will not overwrite a.

In [ ]:
## variables in python are dynamic
# to change data type of variable we use casting

# must start with letter or underscore
# cannot start with a number 
# can only contain a aplhanumeric character and underscore
# names are case-sensitive
# cannot be a python keyword

In [ ]:
x,y,z = "apple",'banana','cherry'
print(x)
print(y)
print(z)

apple
banana
cherry

In [ ]:
a=b=c = "orange"
print(a)
print(b)
print(c)

orange
orange
orange

In [ ]:
# unpacking list into variables
fruits = ['orange','papaya','mango']
x,y,z = fruits
print(x)
print(y)
print(z)


for i in fruits:
    print(i)

orange
papaya
mango
orange
papaya
mango

In [ ]:
## output variables

x = "python is fun"
print(x)

python is fun

In [ ]:
print("X"+9)

TypeError: can only concatenate str (not "int") to str

In [ ]:
print("x"+"y")

xy

In [ ]:
#  global variables 

x = "awesome"
def fun():
    print("python is " + x)
fun()

python is awesome

In [ ]:
x = "awesome"
def fun():
    x = "fantastic" # local variable
    print("python is " + x)
fun()

python is fantastic

In [ ]:
def fun():
    global x
    x = "fantastic" 
    
fun()

print("python is " + x)

python is fantastic

In [ ]:
# this is the first comment
spam = 1  # and this is the second comment
          # ... and now a third!
text = "# This is not a comment because it's inside quotes."

In [ ]:
## python as a calculator

print(2+2)
print(50 - 5*6)
print((50 - 5*6)/4)
print(17/3)
print(17//3)
print(17%3)
print(5**2)
print(2**7)

4
20
5.0
5.666666666666667
5
2
25
128

In [ ]:
#calculator for area of triangle
def area(b,h):
    area = (1/2)*b*h
    print(area)

base = float(input("enter base:"))
height = float(input("enter height:"))
area(base,height)

6.0

In [ ]:
print('doesn\'t')
print("doesn't")
print('"yes," they said')
print("\"yes,\"they said")
print('firstline.\nsecond line')

doesn't
doesn't
"yes," they said
"yes,"they said
firstline.
second line

In [ ]:
'py' 'thon'

'python'

In [ ]:
text = ('Put several strings within parentheses '
        'to have them joined together.')
text

'Put several strings within parentheses to have them joined together.'

In [ ]:
word = 'python'
print(word[0])
print(word[1])
print(word[-1])
print(word[-2])

p
y
n
o

In [ ]:
print(id(word))
print(hex(id(word)))
print(id('python'))

2958631795856
0x2b0dc327c90
2958631795856

#### List vs. Tuple
##### Python lists and tuples are sequence data types that store ordered collections of items. While lists are mutable and ideal for dynamic, homogeneous data, tuples are immutable, making them suitable for fixed, heterogeneous data.

In [ ]:
#define a list
colors = ['red','green','blue','yellow']
print(colors)

# define a tuple
person = ("Madhuri Ghadge",21,"python programmer","Maharashtra")
print(person)



"""
a list doesn’t have a fixed length since it’s mutable. Therefore, it’s natural to use homogeneous elements to have some structure in the list.
A tuple, on the other hand, has a fixed length so the position of elements can have meaning, supporting heterogeneous data. """

['red', 'green', 'blue', 'yellow']
('Madhuri Ghadge', 21, 'python programmer', 'Maharashtra')

In [ ]:
#define a list object using a literal. 
#A list literal is a comma-separated sequence of objects enclosed in square brackets
list = ['item_0', 'item_1', ..., 'item_n']
# -> lists are ordered
# -> hoterogeneous

In [ ]:
[42, "apple", True, {"name": "John Doe"}, (1, 2, 3), [3.14, 2.78]]

[42, 'apple', True, {'name': 'John Doe'}, (1, 2, 3), [3.14, 2.78]]

In [ ]:
digits = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
fruits = ["apple", "banana", "orange", "kiwi", "grape"]
cities = [
     "New York",
     "Los Angeles",
     "Chicago",
     "Houston",
     "Philadelphia"
]
empty = []

In [ ]:
def fibonacci_generator(stop):
    current_fib, next_fib = 0, 1
    for _ in range(0, stop):
       fib_number = current_fib
       current_fib, next_fib = next_fib, current_fib + next_fib
       yield fib_number

fibonacci_generator(10)

In [ ]:
list(fibonacci_generator(10))

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34]

In [ ]:
[*fibonacci_generator(10)]

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34]

In [ ]:
# Building Lists With List Comprehensions

[x*3 for x in range(1,5)]

[3, 6, 9, 12]

In [9]:
fruits = ['apple','banana','cherry']
fruits.append('mango')
print(fruits)

fruits.extend('1')
print(fruits)
fruits.remove("apple")
fruits.pop()
print(fruits)
fruits[1:3]
len(fruits)

['apple', 'banana', 'cherry', 'mango']
['apple', 'banana', 'cherry', 'mango', '1']
['banana', 'cherry', 'mango']

3

In [15]:
nums = [12,4,3,4,0]
print(f'max element:{max(nums)}')
print(f'min element:{min(nums)}')
nums.pop()
print(f"list after removing last element:{nums}")
nums.append(3)
print(nums)

max element:12
min element:0
list after removing last element:[12, 4, 3, 4]
[12, 4, 3, 4, 3]

#### Dictionaries

In [22]:

student = {
    "name":"madhuri",
    "age":21,
    "CGPA":7.81
}

print(student['name'])

#add/update
student["grade"] = "A"
print(student)

# delete
del student['CGPA']
print(student)

print(student.keys())
print(student.values())
print(student.items())

madhuri
{'name': 'madhuri', 'age': 21, 'CGPA': 7.81, 'grade': 'A'}
{'name': 'madhuri', 'age': 21, 'grade': 'A'}
dict_keys(['name', 'age', 'grade'])
dict_values(['madhuri', 21, 'A'])
dict_items([('name', 'madhuri'), ('age', 21), ('grade', 'A')])

In [25]:
movie = {
    "title":"Jaudya na balasaheb",
    "year" : 2019,
    "rating" : 5,
    "genre" : "romcom"
}

print(movie.keys())
print(movie.values())
movie["rating"] = 8
del movie['genre']
print(movie)

dict_keys(['title', 'year', 'rating', 'genre'])
dict_values(['Jaudya na balasaheb', 2019, 5, 'romcom'])
{'title': 'Jaudya na balasaheb', 'year': 2019, 'rating': 8}

In [26]:
students = [
    {"name":"Aarav","marks":88},
    {"name":"Madhuri","marks":88.33},
    {"name":"Akshada","marks":88}
]

for student in students:
    print(student["name"],"->",student["marks"])

Aarav -> 88
Madhuri -> 88.33
Akshada -> 88

In [29]:
books = [
    {"title":"Shreeman Yogi","author":"Ranjit Desai","price":900},
    {"title":"Mrutunjay","author":"Shivaji Sawant","price":500},
    {"title":"Chhava","author":"Shivaji Sawant","price":590}
]

#Print the most expensive book’s title

most_expensive = max(books, key=lambda x:x['price'])
print(most_expensive)

total_price = sum(book['price'] for book in books)
print(total_price)

{'title': 'Shreeman Yogi', 'author': 'Ranjit Desai', 'price': 900}
1990

#### conditionals

In [1]:
## simple if


n = int(input("enter a number:"))
if n%2 == 0:
    print("number is even")

number is even

In [2]:
# if .... else

n = int(input("enter a number:"))
if n%2 == 0:
    print("number is even")
else:
    print("number is odd")

number is odd

In [3]:
# if ........ elif ...... else
n = int(input("enter a number:"))
if n == 0:
    print("number is zero")
elif n%2 == 0:
    print("number is even")
else:
    print("number is odd")

number is zero

In [5]:
# nested if

n = int(input("enter a number:"))
if n%3 == 0:
    if n% 5 == 0:
        print("number is divisible by 3 and 5")
else:
    print("number is not divisible by 3")

number is not divisible by 3

In [6]:
handsome = 'True'
good_salary = 'True'

if handsome == 'True' and good_salary == 'True':
    print("You will marry a super model")
elif handsome != 'True' and good_salary == 'True':
    print("you will marry a pretty girl")
elif handsome == 'True' and good_salary != 'True':
    print("you will marry with a good girl")
else:
    print("bhagwan bharose")

You will marry a super model